.body { background-color: powderblue;
font-family: "Montserrat", sans-serif;
font-optical-sizing: auto;
font-weight: medium;
font-style: normal;
}

.header {
    background-color: navy;
    text-align: center;
    padding: 20px;
  }
  
.p {Line-height: 1.6; font-size: 1.1rem
}
